<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shareburst"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Shareburstblue" >
        <activity
            android:name="com.shareburst.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shareburst.main.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.shareburst.main.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.shareburst.main.LoginActivity" >
        </activity>
        <activity
            android:name="com.shareburst.preference.PreferenceActivity"
            android:label="@string/title_activity_preference" >
        </activity>
        <activity
            android:name="com.shareburst.group.GroupsActivity"
            android:label="@string/title_activity_groups" >
        </activity>
        <activity
            android:name="com.shareburst.group.NewGroupActivity"
            android:label="@string/title_activity_new_group"
            android:parentActivityName="com.shareburst.group.GroupsActivity" >
        </activity>
        <activity
            android:name="com.shareburst.user.UsersActivity"
            android:label="@string/title_activity_users"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.shareburst.group.NewGroupActivity" >
        </activity>
        <activity
            android:name="com.shareburst.group.GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName="com.shareburst.group.GroupsActivity" >
        </activity>
    </application>

</manifest>
